@page
@model WarehouseManagementController.Pages.CategoryProduct.Create_CateModel
@{
    var userId = HttpContext.Session.GetString("isAdmin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="main-content flex flex-col flex-grow p-4">
        <h1 class="font-bold text-2xl text-gray-700">Tạo danh mục</h1>
        <!-- Toast Message for Failure -->
        <div id="toastMessage" class="hidden mt-4 p-4 bg-red-500 text-white rounded-lg">
            Create failure
        </div>
        <form method="post" class="mt-6">

            <div class="mb-4">
                <label asp-for="Category.Name" class="block text-gray-700 font-semibold mb-2">Tên danh mục</label>
                <input asp-for="Category.Name" type="text" id="categoryName" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter Category Name" required>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>

            <div class="flex justify-end">
                <button type="submit" value="Create" class="px-6 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-700 transition duration-300">Tạo</button>
                <a type="button" asp-page="Category" class="px-6 py-2 bg-red-500 text-white font-bold rounded-lg hover:bg-red-700 transition duration-300">Quay lại</a>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('createCategoryForm').addEventListener('submit', function (event) {
        event.preventDefault();


        const success = false;

        if (success) {

        window.location.href = '/CategoryProduct/Category';
        } else {

        const toast = document.getElementById('toastMessage');
        toast.classList.remove('hidden');


        setTimeout(() => {
        toast.classList.add('hidden');
        }, 3000);
        }
        });

        const description = document.getElementById('description');
        const charCount = document.getElementById('charCount');

        description.addEventListener('input', function () {
            charCount.textContent = `${description.value.length}/255 characters `;
        });
    </script>



    <footer class="footer px-4 py-6">
        <div class="footer-content">
            <p class="text-sm text-gray-600 text-center">© Graduation 2024. All rights reserved. <a href="https://github.com/VanHa1006/RentTutor_Project.git">by Group-7</a></p>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>

    </main>
    </div>
    @* } *@
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}