@page
@model WarehouseManagementController.Pages.LoginPageModel
@{
    ViewData["Title"] = "Login page";
    Layout = null;
}
<head>
    <title>Mini Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/login.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="warapper">

        <div class="form-box login">
            <h2>Login</h2>
            <form method="post">
                <div class="input-box">
                    <input asp-for="user.Username" type="text" />
                    <span asp-validation-for="user.Username" class="text-danger"></span>
                    <label>User Name</label>
                </div>
                <div class="input-box">
                    <input class="mr-1" asp-for="user.Password" type="password" />
                    <span class="text-danger"></span>
                    <label>Password</label>
                </div>
                <h6 class="text-danger" style="color:red">@Model.ErrorMessage</h6>
                <div class="remeber-forgot">
                    <label>
                        <input type="checkbox">Remember me
                    </label>
                    <a href="#">Forgot password</a>
                </div>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
            <div class="login-register">
                <p>
                    Don't have an account?<a class="register-link" asp-page="Register">
                        Register
                    </a>
                </p>
            </div>
            <hr>
        </div>


    </div>

    <footer class="footer px-4 py-6">
        <div class="footer-content">
            <p class="text-sm text-gray-600 text-center">© Graduation 2025. All rights reserved. <a href="https://github.com/thien123dh/StoreManagement">NHÓM HỆ THỐNG QUẢN LÝ BÁN HÀNG TẠI CỬA HÀNG BÁN LẺ</a></p>
        </div>
    </footer>
    <!-- Optional JavaScript -->


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}